// responsive for 1280
@media screen and (max-width: 1280px) {
    main {
        .partners {
            &__table {
                &__image {
                    width: calc((100% - 60px) / 3)!important;
                }
            }
        }
    }
    footer {
        .contacts {
            .left-footer {
                h2 {
                    margin: -8px 0 0!important;
                }
            }
            .right-footer {
                .info-us {
                    .links {
                        padding: 0 0 60px!important;
                        ul {
                            li {
                                padding: 0 20px!important;
                                a {
                                    font-size: 21px!important;
                                }
                            }
                        }
                    }
                    .info_tabs {
                        ul {
                            li {
                                padding: 0 0 30px!important;
                                span {
                                    padding: 0 0 8px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive for 1180
@media screen and (max-width:1180px) {
    .my-container {
        width: 95%!important;
    }
    .container-simbrella {
        width: 95%!important;
    }
    main {
        .index-solutions {
            &__wrapper {
                &__header {
                    padding: 0 10px!important;
                    &__h2 {
                        max-width: 300px!important;
                        font-size: 32px!important;
                    }
                }
                &__list {
                    padding: 0 10px!important;
                    &__ul {
                        li {
                            font-size: 18px!important;
                        }
                    }
                }
            }
        }
    }
}

// responsive for 1024
@media screen and (max-width:1024px) {
    /*#region Common css */
    h2.headerH2 {
        font-size: 32px!important;
    }
    /*#endregion */
    /*#region Index css */
    #scroll {
        display: none!important;
    }
    .nav__nav-list {
        display: none!important;
    }
    .nav__nav-burger {
        display: flex!important;
    }
    .home__info {
        h1 {
            font-size: 32px!important;
            padding-bottom: 0!important;
            transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)!important;
        }
    }
    main {
        .what-we-do {
            &__wrapper {
                &__item {
                    width: calc(33.333% - 15px)!important;
                    padding: 20px 10px 15px!important;
                }
                &__image {
                    height: 210px!important;
                }
                &__h3 {
                    font-size: 21px!important;
                }
            }
        }
        .achievements {
            padding: 35px 0 40px!important;
            &__wrapper {
                &__h2 {
                    padding: 0 0 10px!important;
                }
                &__contents {
                    padding: 40px 0!important;
                    .texts {
                        padding: 10px 0!important;
                        h3 {
                            font-size: 32px!important;
                        }
                    }
                }
            }
        }
        #index_world {
            display: none!important;
        }
        #index_world_mobile {
            display: block!important;
        }
        .partners {
            &__table {
                &__image {
                    width: calc((100% - 40px) / 3)!important;
                    margin-bottom: 20px!important;
                }
            }
        }
        .index-team {
            display: none!important;
            &.fixedTeam {
                display: block!important;
                position: fixed!important;
                visibility: visible!important;
                top: 0!important;
                left: 0!important;
                width: 100%!important;
                background: #fff!important;
                height: calc(100vh - 0px)!important;
                padding: 25px 0 60px!important;
                z-index: 4!important;
                overflow-y: scroll!important;
                .index-team__wrapper {
                    &__h2 {
                        padding: 0 0 20px!important;
                    }
                    &__items {
                        .content-item {
                            width: calc(25% - 20px)!important;
                            margin: 0 10px 48px!important;
                            .image {
                                height: 30vw!important;
                            }
                            &:nth-child(1),
                            &:nth-child(5) {
                                display: none!important;
                            }
                        }
                    }
                }
            }
            .closeTeam {
                display: block!important;
            }
        }
        .news {
            padding: 35px 0 40px!important;
            &__wrapper {
                &__header {
                    padding: 0 0 30px!important;
                }
                &__contents {
                    .content-item {
                        .image {
                            margin: 0 0 15px!important;
                        }
                        h3 {
                            padding: 0 0 24px!important;
                            font-size: 16px!important;
                        }
                        span {
                            font-size: 16px!important;
                        }
                    }
                }
            }
        }
    }
    footer {
        padding: 30px 0 30px!important;
        .contacts {
            .left-footer {
                h2 {
                    margin: -10px 0 0!important;
                }
            }
            .right-footer {
                width: calc(100% - 240px)!important;
                .info-us {
                    .links {
                        padding: 0 0 40px!important;
                        display: block!important;
                        ul {
                            padding-left: 0!important;
                            padding-bottom: 10px!important;
                        }
                    }
                    .info_tabs {
                        ul {
                            padding-left: 0!important;
                            li {
                                padding: 0 0 20px!important;
                                span {
                                    padding: 0 0 8px!important;
                                    font-size: 16px!important;
                                }
                                p {
                                    font-size: 18px!important;
                                }
                            }
                        }
                    }
                }
                .copyright {
                    padding-left: 100px!important;
                }
            }
        }
    }
    /*#endregion */
    // Responsive for WhatWeDo
    /*#region What We Do css */
    header.wwdHeader {
        height: 320px;
        padding: 0 0 40px;
    }
    main {
        .articles {
            .article {
                padding: 40px 0;
                .wwd_wrapper {
                    display: block!important;
                    &__image {
                        width: 100%;
                    }
                    &__list {
                        width: 100%;
                        padding: 30px 0 0;
                    }
                }
            }
        }
    }
    /*#endregion */
}

// responsive for 767
@media screen and (max-width:767px) {
    h2.headerH2 {
        font-size: 27px!important;
    }
    .home__info {
        padding: 120px 0 90px!important;
        h1 {
            font-size: 27px!important;
            padding-bottom: 0!important;
        }
    }
    .header {
        height: auto!important;
    }
    main {
        .what-we-do {
            &__wrapper {
                &__item {
                    width: 100%!important;
                    padding: 20px 20px!important;
                    margin: 0 0 20px!important;
                }
            }
        }
        .index-solutions {
            min-height: 1px!important;
            height: auto!important;
            &__wrapper {
                flex-direction: column!important;
                &__header {
                    width: 100%!important;
                    padding: 120px 0px 120px!important;
                    &__h2 {
                        font-size: 30px!important;
                    }
                }
                &__list {
                    width: 100%!important;
                    padding: 0px!important;
                    &__ul {
                        li {
                            text-align: center!important;
                            list-style: none!important;
                            color: white!important;
                            font-weight: 200!important;
                            font-size: 18px!important;
                            line-height: 1.12!important;
                            padding: 20px 0!important;
                        }
                    }
                }
            }
        }
        .achievements {
            &__wrapper {
                &__h2 {
                    padding: 0 0 10px!important;
                }
                &__contents {
                    border: none!important;
                    padding: 0!important;
                    flex-direction: column!important;
                    .texts {
                        width: 100%!important;
                        padding: 20px 0!important;
                        h3 {
                            margin: 0!important;
                        }
                    }
                }
            }
        }
        .partners {
            &__table {
                &__image {
                    width: calc((100% - 14px) / 2)!important;
                    margin-bottom: 11px!important;
                }
            }
        }
        .index-team {
            &__wrapper {
                &__h2 {
                    padding: 0 0 20px!important;
                }
                &__items {
                    .content-item {
                        width: calc(50% - 20px)!important;
                        margin: 0 10px 48px!important;
                        .image {
                            height: 60vw!important;
                        }
                    }
                }
            }
        }
        .jobs {
            padding: 30px 0 0px!important;
            &__wrapper {
                &__h2 {
                    padding: 0 0 20px!important;
                }
                &__items {
                    padding: 0 0 10px!important;
                    .advantage {
                        width: calc(33.333% - 10px)!important;
                        padding: 0 0 30px!important;
                        text-align: center!important;
                        .icon {
                            img {
                                width: 48px!important;
                            }
                        }
                        h3 {
                            padding: 0 0 10px!important;
                            font-size: 16px!important;
                        }
                    }
                }
            }
        }
        .advantage_article {
            padding: 0 0 30px!important;
            &__wrapper {
                display: block!important;
                .image {
                    width: 100%!important;
                    img {
                        border-radius: 4px 4px 0 0!important;
                    }
                }
                .text-content {
                    width: 100%!important;
                    padding: 20px 20px 25px!important;
                    margin: 0!important;
                    border-radius: 0 0 4px 4px!important;
                    h3 {
                        padding: 0 0 20px!important;
                        font-size: 27px!important;
                    }
                    p {
                        padding: 0 0 20px!important;
                        font-size: 16px!important;
                    }
                }
            }
        }
        .news {
            &__wrapper {
                &__header {
                    padding: 0 0 20px!important;
                }
                &__contents {
                    display: block!important;
                    .content-item {
                        width: 100%!important;
                        padding: 0 0 30px!important;
                        h3 {
                            padding: 0 0 20px!important;
                            font-size: 18px!important;
                        }
                    }
                }
            }
        }
    }
    footer {
        position: relative!important;
        padding: 20px 0 20px!important;
        .contacts {
            display: block!important;
            .left-footer {
                h2 {
                    margin: -10px 0 0!important;
                    padding: 0 0 20px!important;
                }
                p {
                    position: absolute!important;
                    bottom: 60px!important;
                    left: calc(100% / 2 - 105px)!important;
                    text-align: center!important;
                }
            }
            .right-footer {
                width: 100%!important;
                .info-us {
                    .links {
                        padding: 0 0 30px!important;
                        ul {
                            padding-left: 0!important;
                        }
                    }
                    .info_tabs {
                        ul {
                            padding-left: 0!important;
                            li {
                                span {
                                    padding: 0 0 4px!important;
                                    font-size: 14px!important;
                                }
                                p {
                                    font-size: 16px!important;
                                }
                            }
                        }
                    }
                }
                .copyright {
                    padding-left: 0!important;
                    text-align: center!important;
                }
            }
        }
    }
    // Responsive for WhatWeDo
    header.wwdHeader {
        height: 270px!important;
        padding: 0 0 30px!important;
    }
    footer {
        .simpleFooter {
            display: block;
            text-align: center;
            .jis {
                justify-content: center;
            }
            .copyright {
                width: 100%;
                padding: 10px 0 0;
                font-size: 14px;
            }
        }
    }
}

// responsive for 575
@media screen and (max-width: 575px) {
    main {
        .what-we-do {
            &__h2 {
                padding: 0 0 10px!important;
            }
            &__link {
                justify-content: flex-start!important;
            }
        }
        .index-world-mobile {
            &__wrapper {
                &__country {
                    .country-list {
                        p {
                            width: calc((100% - 18px) / 2)!important;
                            font-size: 14px!important;
                        }
                    }
                }
            }
        }
    }
}

// responsive for 480
@media screen and (max-width:480px) {
    .logo {
        a {
            width: 130px!important;
            height: 45px!important;
        }
    }
    h2.headerH2 {
        font-size: 24px!important;
    }
    footer {
        .contacts {
            .right-footer {
                .info-us {
                    .links {
                        padding: 0 0 30px!important;
                        ul {
                            li {
                                padding: 0 10px!important;
                                a {
                                    font-size: 16px!important;
                                }
                            }
                        }
                    }
                    .info_tabs {
                        ul {
                            li {
                                padding: 0 0 20px!important;
                                span {
                                    padding: 0 0 4px!important;
                                    font-size: 14px!important;
                                }
                                p {
                                    font-size: 16px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Responsive for WhatWeDo
    header.wwdHeader {
        height: auto!important;
        padding: 120px 0 30px!important;
    }
    main {
        .articles {
            .article {
                .wwd_wrapper {
                    &__list {
                        ul {
                            font-size: 16px;
                            li {
                                margin: 0 0 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// responsive for 800 height
@media screen and (min-height:800px) {
    main {
        .news {
            min-height: 60vh!important;
        }
    }
    footer {
        .contacts {
            min-height: 60vh!important;
        }
    }
}