.global-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: orangered;
    height: 300px;
    -webkit-animation-name: fire;
    animation-name: fire;
    padding: 4px
}

.global-wrapper:hover {
    opacity: 1;
    color: #232352;
    border: 2px solid black
}

.wrapper {
    width: 50%
}

.wrapper .badge {
    width: 30px;
    height: 30px;
    color: #752f2f;
    display: flex-start;
    justify-content: center;
    align-items: flex-end;
    border-width: 2px;
    border-color: #545455;
    border-radius: 50%;
    border-style: solid
}

.wrapper-secondary {
    width: 90%
}

.wrapper-secondary .wrapper-inner>h1 {
    color: #545455
}

.wrapper-secondary .wrapper-inner>h1:hover {
    color: red
}

.wrapper-secondary .wrapper-inner>h1::after {
    content: "";
    position: absolute
}

.duckduckgo,
.duckduckgo__center {
    width: 60%
}

.duckduckgo__image {
    width: 50px
}

.duckduckgo__center {
    display: block
}

.duckduckgo__center__heading {
    color: #954523;
    font-size: 50px;
    margin-right: 50px;
    padding: 20px
}

.duckduckgo__center__heading--bg-color {
    background-color: orange
}

.error,
.error--serious {
    border: 1px #f00;
    background-color: #fdd
}

.error--serious {
    border-width: 3px
}